/* Barra de navegación */

.navbar{
    padding: 2rem;
    background-color: beige;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}


/* Estilos generales */

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5rem;

}

.hero-principal{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*Seccion Hero */

.hero{
    background-color: aliceblue;
    min-height: 450px;
    text-align: center;
}


/* Adaptable (Responsivo) */
@media screen and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
}